@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100vh;
}
body {
    font-family: "Inter", sans-serif;
    background-image: url(img/fundo.jpg);
    background-position: top;
    background-size: 100vw 50vh;
    background-repeat: no-repeat;
}

header {
    height: 64px;
    background-color: #110596;
}

header h1 {
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#titulo {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    margin: 40px;
}

h1 {
    font-size: 24px;
    padding: 10px;
}

p {
  font-size: 16px;  
}

#container {
    background-color: #fff;
    width: 95vw;
    min-height: 275px;
    max-width: 1152px;
    align-content: center;
    margin: auto;
    border-radius: 13px;
    box-shadow: 4px 7px 8px rgba(0, 0, 0, 0.21), -4px 7px 8px rgba(0, 0, 0, 0.21);
}

#labels {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
}

#aviso-botao {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#input-valor,
#de-moeda,
#para-moeda {
    margin: 15px;
    width: 20vw;
}